.grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    background-color: green;
}

.grid div {
    width: 8px;
    height: 8px;
}
.snake {
    background-color: grey;
}

.apple {
    background-color: red;
}
.body {
    background-color: black;
    color: white;
}
.start {
    background-color: black;
    color: white;
}
